.category-page-container {
  padding: 0.05px;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}
.category-container-title {
  font-size: 28px;
  margin-bottom: 25px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
